$card-height: 320px;

.app__skills {
    flex: 1;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.head-text {
    margin-bottom: 100px;
}

img.question {
    width: 300px;
    // position: relative;
}

.wrapper {
    display: grid;
    gap: 90px;
    grid-template-columns: 1fr 1fr 1fr;
    // border: 2px solid black;
}

.first-letter {
    font-weight: bolder;
    font-size: 2rem;
}

.grid-item {
    width: 400px;
    
    text-align: center;
    z-index: 3;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    backdrop-filter: blur(20);
    border-radius: 15px;
    height: $card-height;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.grid-item::after {
    content: '';
    z-index: -1;
    position: absolute;
    font-weight: 800;
    font-size: 2rem;
    background-color: rgba(0, 0, 255, 0.6);
    border-radius: 30px;
    transform: translate(-90%,-90%);
    width: 400px;
    height: $card-height;
}

.grid-item:nth-of-type(1){
    width: 820px;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: rgb(213, 175, 253);
    grid-column: 1 / span 2;
}

.grid-item:nth-of-type(1)::after {
    content: 'Summary';
    writing-mode: vertical-lr;
    transform: translate(-82%,-64%);
    width: 900px;
}
.grid-item:nth-of-type(2)::after {
    content: 'Communication';
    writing-mode: vertical-lr;
    transform: translate(-88%,-70%);
    width: 470px;
}

.grid-item:nth-of-type(3)::after {
    content: 'Mentorship';
    writing-mode: vertical-lr;
    transform: translate(-80%,-80%);
    width: 470px;   
}
.grid-item:nth-of-type(4)::after {
    content: 'Leadership';
    writing-mode: vertical-lr;
    transform: translate(-76%,-60%);
    width: 470px;   
}

.grid-item:nth-of-type(5)::after {
    content: 'Up to date';
    writing-mode: vertical-lr;
    transform: translate(-89.5%,-60%);
    width: 470px;   
}



.grid-item:nth-of-type(2){
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    background-color: rgb(29, 130, 64);
}

.grid-item:nth-of-type(3){
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    background-color: rgb(161, 159, 4);
}

.grid-item:nth-of-type(4){
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    background-color: rgb(4, 101, 161);
}

.grid-item:nth-of-type(5){
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    background-color: rgb(4, 101, 161);
}
