@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
	--font-base: "Titillium Web", sans-serif;
	--font-logo: "Montserrat", sans-serif;
	--font-secondary: "Roboto Slab", serif;

	--primary-color: #c8d7ea;
	--secondary-color: #337bae;
	--black-color: #030303;
	--lightGray-color: #e4e4e4;
	--gray-color: #6b7688;
	--brown-color: #46364a;
	--white-color: #ffffff;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

/* 

--primary-color: #edf2f8;
--secondary-color: #313bac; */
